//Color variables

$color-233000: #233000; 
$color-5E6600: #5E6600;
$color-9CAA00: #9CAA00;
$color-EBF0E4: #EBF0E4;
$color-000000: #000000;
$color-4D4D4D: #4D4D4D;
$color-B0B0B0: #B0B0B0;
$color-FFFFFF: #FFFFFF;
